---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from '../../layouts/Layout.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
const { slug } = Astro.params;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div>
  <article>
  <div>
    <Content />
  </div>
  </article>
  </div>
</Layout>