	h1 {
		font-family: 'Courier New', Courier, monospace;
		font-size: 24pt;
    font-weight: 300;
	}
	h2 {
		font-family: 'Courier New', Courier, monospace;
	}
	h3 {
		font-family: 'Courier New', Courier, monospace;
	}

	p {
		font-family: 'FreeSerif', serif;
    font-size: 16pt;
	}