---
import Layout from "../layouts/Layout.astro";
const pageTitle = "About";
---

<Layout pageTitle={pageTitle}>
  <div>
    <h2>Intro / 自己紹介</h2>
    <p>
      Hi there, I am Kory the Kobold. The name is not final yet. I was born and raised in Japan. Right now I'm in Germany. I am interested in: ... Just kidding. That's too boring.
      Long story short, I'm a guy with too many interests and too short an attention span, so I try to pursue what I like the most at the time, going back and forth, left and right.
      That's pretty much all anyone has to know about me. Oh, and read the blog!
    </p>
  </div>
</Layout>

<style>
  div {
    width: 80%;
    background-color: rgba(127, 255, 212, 0.55);
    margin: 10px auto;
    padding: 10px 10px;
    z-index: 0;
    position: relative;
  }
  div p {
    font-size: 18px;
  }
</style>
