---
import BasicLayout from "../layouts/BasicLayout.astro";
import Squirm from "../components/Squirm.astro";
import Thump from "../components/Thump.astro";
const pageTitle = "Onomatopoeia (オノマトペ)"
---

<BasicLayout pageTitle={pageTitle}>
  <div>
    <br/>
    <i>"Onomatopoeia is a type of word, or the process of creating a word, that phonetically imitates, resembles, or suggests a sound that it refers to"</i>
    <p>From wikipedia</p>
  </div>

  <div class="flex-container">

    <div>
      <h1>"thump thump thump..." (パタンパタンパタン。。)</h1>
      <button id="animateBtn">animate</button>
      <div>
        <Thump/>
      </div>
    </div>
    
    <div>
      <h1>squirm (モゾモゾ)</h1>
      <div style="background-color: rgb(198, 105, 42);">
      <Squirm/>
      </div>
    </div>

  </div>

</BasicLayout>

<style>
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    align-items: center;
  }
</style>

<script>
  // ===================================== functions for thump thump thump that I could not modulize
  function spawnG(n: number) : SVGGElement {
    const g = document.createElementNS('http://www.w3.org/2000/svg', 'g');
    g.setAttribute('id', `g${n}`);
    g.setAttribute('transform-origin', `0 ${String(n * 40)}`);
    const svg = document.querySelector("svg");
    svg?.appendChild(g);
    return g;
  }
  function spawnRect(g: SVGGElement, n: number, flipped: boolean) : SVGGElement{
    const rect = document.createElementNS('http://www.w3.org/2000/svg', 'rect');
    rect.setAttribute("id", `rect${n}`);
    const theta = Math.PI / 6;
    const y = -40 + n * 40;
    var x = -40;
    if (flipped) x = -40 - 40 * Math.tan(theta);
    rect.setAttribute('transform-origin', `0 ${String(n * 40)}`);
    rect.setAttribute("x", String(x));
    rect.setAttribute("y", String(y));
    rect.setAttribute("width", '80');
    rect.setAttribute("height",'40');
    if (flipped) {
      rect.setAttribute("transform", 'skewX(-30)');
      rect.setAttribute("style", "fill:green;stroke:red;stroke-width:1;fill-opacity:0.3;")
    } else {
      rect.setAttribute("transform", 'skewX(30)');
      rect.setAttribute("style", "fill:blue;stroke:red;stroke-width:1;fill-opacity:0.3;")
    }
    g.appendChild(rect);
    return rect;
  }

  async function beginAnimation(n: number) {
    var flipped: boolean = false;
    for (let i = 0; i <= n; i++) {
      const g = spawnG(i);
      const rect = spawnRect(g, i, flipped);
      const anim = g.animate(patan, patanTiming);
      let colorChange;
      if (flipped) colorChange = rect.animate(fillColChange2, patanTiming);
      else colorChange = rect.animate(fillColChange1, patanTiming);
      if (flipped) flipped = false;
      else flipped = true;
      await anim.finished;
    }
  }

  const patan = [
    { transform: "scale(1,1)"},
    { transform: "scale(1,0.6)", offset: 0.5},
    { transform: "scale(1,0.2)", offset: 0.75},
    { transform: "scale(1,0)", offset: 0.825},
    { transform: "scale(1,-0.2)",  offset: 0.875},
    { transform: "scale(1,-0.6)",  offset: 0.95},
    { transform: "scale(1,-1)"} 
  ];
  const patanTiming = { 
    duration: 1000,
    iterations: 1,
    easing: "ease-in",
    fill: 'forwards'
  };

  const fillColChange1 = [
    {fill: "blue"},
    {fill: "blue", offset: 0.825},
    {fill: "green", offset: 0.826},
    {fill: "green"}
  ];
  const fillColChange2 = [
    {fill: "green"},
    {fill: "green", offset: 0.825},
    {fill: "blue", offset: 0.826},
    {fill: "blue"}
  ];

  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("animateBtn");
    btn?.addEventListener("click", () => {beginAnimation(5);});
  });
// ===================================== functions for thump thump thump that I could not modulize
</script>