---
// import Layout from "../layouts/Layout.astro";
import BasicLayout from "../layouts/BasicLayout.astro";
import "../styles/global.css";
---

<BasicLayout title="tailwind test">
  <main class="text-red-500">Hello World</main>
</BasicLayout>