---
const { pageTitle } = Astro.props;
const navItems = [
	{title: 'Home', href: '/'},
	{title: 'About', href: '/about'},
	{title: 'Blog', href: '/blog'},
	{title: 'Onomatopoeia', href: '/svg'}
];
import CoolNav from "../components/CoolNav.astro";
import Footer from "../components/Footer.astro";
import BgPattern from "../components/BgPattern.astro";
import "../styles/font.css";  // importing my font choices
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.cdnfonts.com/css/freeserif" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="pageTitleBox">
			<h1>{pageTitle}</h1>
		</div>
		<CoolNav items={navItems}></CoolNav>
		<div class="min-height">
			<slot />
		</div>
		<footer>
			<Footer/>
		</footer>
	</body>
</html>

<style>
	body {
		margin: 0;
		padding: 0 0;
		width: 100%;
		height: 100%;
		background-image: url('src/assets/simpleDot.svg');
		background-repeat: repeat;
		background-size: 80px 80px;
	}

	.min-height {
		min-height: 20rem;
		padding: 20px 20px;
	}

	.pageTitleBox {
		position: static;
		text-align: center;
		/* border: 2pt solid black; */
		padding: 0;
		margin: 4rem 2rem 2rem;
		/* transform: skewX(-40deg); */
	}
	.pageTitleBox > h1 {
		padding: 0;
		margin: 0;
		/* transform: skewX(40deg); */
	}

</style>
